[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[gpg]
	format = ssh
[gpg "ssh"]
	program = C:\\Users\\devic\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINZyVIkTY6NEfZ01nsuFTxBoI00/xD9dc0wf835heKGv
	email = jonmash@gmail.com
	name = Jon Mash